@using Microsoft.AspNetCore.Identity

@inject SignInManager<TblUser> _signInManager
@inject UserManager<TblUser> _userManage
@{
    var result = _userManage.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P-Line</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons-1.5.0/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/pline.styles.css" asp-append-version="true" />
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
</head>

<body>
    <header class="mb-5">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" target="_blank" href="http://www.peeco.ir">P-Line</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="sip-menu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                SIP
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="sip-menu">
                                <li><a class="dropdown-item" href="#">SIP Profiles</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Domain"
                                        asp-action="Index">Domains</a></li>
                                <li><a class="dropdown-item" href="#">SIP Trunk</a></li>
                                <li><a class="dropdown-item" href="#">SIP Group</a></li>
                                <li><a class="dropdown-item" href="#">SIP Users</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="user-menu" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i style="font-size: 20pt;" class="bi bi-person-circle"></i>
                                @{
                                    var fullName = "Anonymous User";
                                    if (result.Result != null)
                                    {
                                        fullName = $"{result.Result.FirstName} {result.Result.LastName}";
                                    }
                                }
                                @fullName
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="user-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Users"
                                        asp-action="ChangePassword">Change Password</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Users"
                                        asp-action="Logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - pline - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
