@model pline.Models.Users.ChangePassword


<div class="row">
    <div class="col-8 offset-2">
        <h3>Change Password</h3>
        <hr />
        @if (ViewBag.Ok != null && ViewBag.Ok == true)
        {
            <div class="alert alert-success" role="alert">
                <strong>
                    <i class="bi bi-info-lg"></i>
                </strong>
                <span>Password changed successfully.</span>
            </div>
        }
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group mt-3">
                        <label asp-for="OldPassword" class="form-label"></label>
                        <input asp-for="OldPassword" class="form-control" autocomplete="off" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group mt-3">
                        <label asp-for="RepPassword" class="form-label"></label>
                        <input asp-for="RepPassword" class="form-control" autocomplete="off" />
                        <span asp-validation-for="RepPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                @if (ViewBag.Ok == null || ViewBag.Ok == false)
                {
                    <input type="submit" value="Save" class="btn btn-success" />
                }
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>